# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data files (large, processed)
data/raw/trails_slc_clipped.dbf 
data/raw/
data/processed/trails_proj_json.geojson 
output/

# API keys
config.py
*.env